{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/prism.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/prism-coy-without-shadows.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/prism-toolbar.min.css' %}">
        <script src="{% static 'js/prism-autoloader.min.js' %}"></script>
        <script src="{% static 'js/prism-toolbar.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/prism-treeview.min.css' %}">
        <script src="{% static 'js/prism-treeview.min.js' %}"></script>
        <script src="{% static 'js/prism-copy-to-clipboard.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        {% htmx_script %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
        {% block extra_head %}{% endblock %}
        {% block title %}{% endblock %}
        {% block meta_tags %}{% endblock %}
        <script>
            Prism.plugins.autoloader.languages_path = 'https://cdn.jsdelivr.net/npm/prismjs@1.24/components/';
        </script>
    </head>
    {% block body %}{% endblock %}
</html>
