{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% if debug %}
      <link rel="stylesheet" href="http://localhost:5173/static/css/style.css">
    {% else %}
      <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    {% endif %}
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "lulzcasz.dev",
        "alternateName": "lulzcasz",
        "url": "https://lulzcasz.dev/"
      }
    </script>

    {% block extra_head %}{% endblock %}
  </head>
  <body class="bg-brand-black">
    {% block body %}{% endblock %}
    {% if debug %}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/static/js/main.js"></script>
    {% else %}
      <script type="module" src="{% static 'dist/js/main.js' %}"></script>
    {% endif %}
    {% htmx_script %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
